name: Metrics

on:
  schedule: [{ cron: "0 0 * * *" }]  # Täglich um Mitternacht (UTC)
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest

    steps:
      - name: Generate GitHub Metrics
        uses: lowlighter/metrics@latest
        with:
          filename: github-metrics.svg
          token: ${{ secrets.METRICS_TOKEN }}

          # Basisdaten anzeigen
          base: header, activity, repositories

          # Anzeigeeinstellungen
          config_timezone: Europe/Berlin
          config_display: columns

          # Aktivität: Letzte Commits, PRs, Issues etc.
          plugin_activity: yes
          plugin_activity_limit: 5
          plugin_activity_days: 14
          plugin_activity_filter: all
          plugin_activity_visibility: all

          # Repositories anzeigen
          plugin_repositories: yes
          plugin_repositories_pinned: yes
          plugin_repositories_featured: StynxyxyAPI, jpcloud
          repositories_affiliations: owner, collaborator, organization_member
          repositories_forks: false

          # Sprachen-Plugin
          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_languages_limit: 6

          # Coding-Gewohnheiten
          plugin_habits: yes
          plugin_habits_charts: yes
          plugin_habits_from: 200

          # Stargazer (Follower der Repos)
          plugin_stargazers: yes

          # Lines of Code (grob geschätzt)
          plugin_lines: yes
